<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	
	<bean id = "b1" class = "com.VoterID"></bean>	
	<!-- Configuring the dbsource class username, url, password -->
	<bean id = "b2" class = "com.DBSource">
		<!-- <property name = "username" value = "admin"></property>
		<property name = "password" value = "welcome"></property>
		<property name = "url" value = "jdbc:mysql:ip:port/mydb"></property> -->
		<constructor-arg index = "0" value = "admin"></constructor-arg>
		<constructor-arg index = "1" value = "welcome"></constructor-arg>
		<constructor-arg index = "2" value = "jdbc:mysql://ip:port/mydb"></constructor-arg>
	</bean>
	<bean id = "b3" class = "com.DBSource">
		<!-- <property name = "username" value = "admin"></property>
		<property name = "password" value = "welcome"></property>
		<property name = "url" value = "jdbc:mysql:ip:port/mydb"></property> -->
		<constructor-arg index = "0" value = "admin1"></constructor-arg>
		<constructor-arg index = "1" value = "welcome1"></constructor-arg>
		<constructor-arg index = "2" value = "jdbc123:mysql://ip:port/mydb"></constructor-arg>
	</bean>
	<!-- <bean id = "b3" class = "com.TestDao">
		<property name="db" ref = "b2"></property>
	</bean> -->
</beans>